<div class="sidebar">
  <a routerLink="reports">Dashboard</a>
  <!-- Dropdown Menu for Admin -->
  <div class="dropdown">
    <a routerLink="#">Admin</a>
    <div class="dropdown-content">
      <a routerLink="all-users">All-Users</a>
    </div>
  </div>
  <!-- Dropdown Menu for forms -->
  <div class="dropdown">
    <a routerLink="#">Application Forms</a>
    <div class="dropdown-content">
      <a routerLink="caste">Caste Application Form</a>
      <a routerLink="income">Income Application Form</a>
      <a routerLink="birth">Birth Application Form</a>
      <a routerLink="death">Death Application Form</a>
    </div>
  </div>
  <!-- Dropdown Menu -->
  <div class="dropdown">
    <a routerLink="#">Reports</a>
    <div class="dropdown-content">
      <a routerLink="./time-filter">Certificates Report</a>
      <a routerLink="./location-filter">Resource Allocation Report</a>
      <a routerLink="#">Web Traffic Tracling</a>
    </div>
  </div>
  <a routerLink="#">Contact</a>
</div>