<p-table [value]="users" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th>Aadhaar Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>State</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{users.aadhaarNumber}}</td>
            <td>{{users.userFirstName }}</td>
            <td>{{users.userLastName }}</td>
            <td>{{users.gender }}</td>
            <td>{{users.state}}</td>
        </tr>
    </ng-template>
</p-table>