<div *ngIf="showSpinner" class="flex justify-content-center mt-5">
    <p-progressSpinner strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" />
</div>
<div *ngIf="isUserPresent" class="users-tbl">
<p-table [value]="users" responsiveLayout="scroll" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th>AADHAAR NUMBER</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>GENDER</th>
            <th>STATE</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{users.aadhaarNumber}}</td>
            <td>{{users.userFirstName }}</td>
            <td>{{users.userLastName }}</td>
            <td>{{users.gender }}</td>
            <td>{{users.state}}</td>
        </tr>
    </ng-template>
</p-table>
</div>