<div class="container mt-5">
    <p-toast />
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h4>Change Password</h4>
          </div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="card-body">
              <div class="form-group mb-3">
                <label for="aadhaarNumber">Enter Aadhaar Number</label>
                <input type="number" id="aadhaarNumber" class="form-control" formControlName="aadhaarNumber" required>
                <div
                  *ngIf="changePasswordForm.get('aadhaarNumber')?.hasError('pattern') && changePasswordForm.get('aadhaarNumber')?.touched"
                  class="text-danger mt-1">
                  Aadhaar number must be exactly 12 digits.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="oldPassword">Enter Old Password</label>
                <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" required>
              </div>
              <div class="form-group mb-3">
                <label for="newPassword">Enter New Password</label>
                <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
              </div>
              <div *ngIf="changePasswordForm.errors?.['sameAsOldPassword'] && changePasswordForm.touched" class="text-danger mt-1">
                New password cannot be the same as the old password.
              </div>            
              <div class="form-group mb-3">
                <label for="confirmPassword">Re-enter New Password</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
                  required>
                <div *ngIf="changePasswordForm.errors?.['passwordMismatch'] && changePasswordForm.touched"
                  class="text-danger mt-1">
                  Passwords do not match.
                </div>&nbsp;
                <div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!changePasswordForm.valid">Change</button>
              </div>
              <div *ngIf="isPasswordChanged">
                <label class="form-label text-center">
                  <a routerLink="/home">Click Here</a> to login Page.
                </label>
              </div>
              <div *ngIf="showSpinner" class="flex justify-content-center">
                <p-progressSpinner strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" />
              </div>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>