.container {
    max-width: 1400px;
    margin: auto;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border: none;
    background-color: rgb(1, 38, 69);
  }

  .card-header {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 1.0rem;
    font-size: 1.5rem;
  }

  .card-body {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
  }

  .form-group label {
    color: #012645;
    font-weight: bold;
    font-size: 1.0rem;
  }

  .form-control {
    border: 1.5px solid #0047ab;
    border-radius: 6px;
    padding: 0.75rem;
    font-size: 1rem;
  }

  .form-control:focus {
    border-color: #006edc;
    box-shadow: 0 0 8px rgba(0, 110, 220, 0.4);
  }

  .btn-primary {
    background-color: #006edc;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    font-size: 1.0rem;
    transition: background-color 0.3s ease;
    width: 100%;
  }

  .btn-primary:hover {
    background-color: #0080ff;
  }

  .btn-primary:focus {
    box-shadow: 0 0 8px rgba(0, 110, 220, 0.4);
  }

